<html>
    <head>
        <title> Create a New Story </title>
    </head>

    <body>
      <form action="/home" method = "GET">
        <input type="submit" value="Home">
      </form>
    </body>

    <body>
      <p> Welcome to story creator, </p>
      <p> please enter your story below. </p>
      <form action="/home" method = "POST">
        <textarea id="Story" name="Story" rows="10" cols="50"> </textarea>
        <input type="submit" value="Submit Story">
      </form>
    </body>
</html>
