<html>
    <head>
      Create a Story!
    </head>

    <h1>Welcome {{user}}!</h1>

    <p>Create a story by filling out the text boxes below.</p>

      <form action="/requestcreate" method = "POST">
        Enter the title of the story:
        <br>
        <input type="text" name="title" size="15">
        <br>
        Enter the text for the story:
        <br>
        <textarea id="Story" name="story" rows="10" cols="50"></textarea>
        <br>
        <input type="submit" name="submit" value="Submit Story">
      </form>
    </body>
</html>
